ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
    padding: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: block;
}
span{
    color: #ffb7b7;
    display: block;
    transition: 1s;
}

li a:hover span{
    transform: translateY(-100%);
}

li a:before{
    position: absolute;
    content: attr(data-link-alt);
}